:root {
  --color-primary: #000000;
  --color-primary-light: #484848;
  --color-secondary: #FFFFFF;
  --color-secondary-dark: #D5D5D5;
  --color-accent: #FF4027;
  --color-accent-light: #FF6652;

  --font-primary: "Khula", sans-serif;

}

  html {
    font-family: var(--font-primary);
    color: var(--color-text);
  }
