.header {
  background-color: var(--color-accent-light);
  opacity: 0.95;
  z-index: 1;
}

.title {
  color: var(--color-primary);
  font-weight: 400;
  text-decoration: none;
}

.title:hover {
  color: var(--color-primary-light);
}

.dropdown-content {
  display: none;
}

.dropdown:hover {
  display: block;
}

@media only screen and (min-width: 38em) {

  .header {
    position: fixed;
    width: 100%;
  }

}
