.basic {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--color-secondary-dark);
}

.portfolio {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--color-secondary-dark);
}

.red {
  color: var(--color-accent);
}

.zoom {
  transition: transform .2s;
}

.zoom:focus {
  transform: scale(1.5);
}

.overlay {
  background-color: transparent;
}

.overlay:hover {
  background-color: var(--color-accent);
}

.portrait {
  max-width: 15em;
}
