.basic {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--color-secondary-light);
  background-color: var(--color-secondary);
}

.portfolio {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--color-secondary-light);
  background-color: var(--color-secondary);
}

.red {
  color: var(--color-accent);
}

.portrait {
  max-width: auto;
}

.skyscraper {
  max-width: 11em;
}

.portfolio-gallery {
  text-decoration-line: none;
  color: var(--color-accent);
  text-align: center;
}

.portfolio-image {
  opacity: 50%;
}

@media only screen and (min-width: 38em) {

  .portfolio-gallery {
    color: transparent;
  }

  .portfolio-gallery:hover {
    color: var(--color-accent);
  }

  .portfolio-image:hover {
    opacity: 20%;
  }

}
