.basic {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--color-secondary-light);
  background-color: var(--color-secondary);
}

.portfolio {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--color-secondary-light);
  background-color: var(--color-secondary);
}

.red {
  color: var(--color-accent);
}

.portrait {

}
